html, body
	height 100%
	width 100%
	margin 0 auto
img
	display block
	height auto
	width 100%

body
	background-color white
	font-family font-body
	font-size 65%
	i
		font-size 2em

.clearfix:after, .col:after
	content ""
	display table
	clear both

section
	width 100%
	height 100%
	&.top
		background-color white
	&.second
		background-color blue
	&.third
		background-color red
	.left
		float left
		width 50%
		height 100%
		background-color transparent
	.right
		float right
		width 50%
		height 100%
		background-color red

// -------- Navigation bar -------------
#header
	width 100%
	height 55px
	z-index: 5000
	left 0px
	background-color: yellow
	opacity: 1
	top 0px
	&.headerOpen
		width 100%
	#navigationContainer
		width 100%
		height auto
		top: 0px
		left: 0px
		position: absolute;
		transitionAnim:(all 1.0s ease-in-out);
		overflow:hidden
		z-index 10
		#navigation
			background-color yellow
			width 100%
			margin-top -640px
			height 100%
			transitionAnim:(all 1.0s ease-in-out);
			position: relative;
			overflow: hidden
			z-index 0
			&.selected
				margin-top 55px !important
			#listItems
				position: relative;
				width 100%
				display: block
				padding-left 12px
				opacity 1
				ul
					list-style-position:inside;
					list-style none
					li
						line-height 1.4
						font-size 1.5rem
						a
							color black
							text-decoration: none
							font-weight 200
	#logoContainer
			width 265px
			height 55px
			left -10px
			top 0px
			position:absolute;
			overflow: hidden;
			background-color: transparent;
			z-index 50
			display block
			#logoSubContainer
				padding 17px 20px 10px 23px
				position absolute
				background-color red
				left -330px
				transitionAnim:(all 1.0s ease-in-out);
				&.move
					transitionAnim:(all 1.0s ease-in-out);
			#logo
				width 179px
				display block
				height 23px
// ---------------- Nav Toggle ----------------
#nav-toggle
	position: fixed;
	top: 17px;
	padding: 10px 35px 16px 0px;
	z-index 50
	right 4px
	opacity 0
	pointer-events: none
	height 30px
	z-index 5500
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after
	cursor: pointer;
	border-radius: 1px;
	height: 3px;
	width: 20px;
	background: #a6a6a6;
	position: absolute;
	display: block;
	content: '';
#nav-toggle span:before {
	top: -8px;
}
#nav-toggle span:after {
	bottom: -8px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	transitionAnim: all 500ms ease-in-out;
}
#nav-toggle.active span {
	background-color: transparent !important;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
	top:0;
}
#nav-toggle.active span:before {
	transform: rotate(45deg);
}
#nav-toggle.active span:after {
	transform: rotate(-45deg);
}

//-------------------Global Sections-------------------
#headerOverlay
	position:fixed;
	top:0px;
	left:0px !important;
	right:0;
	bottom:0;
	background-color:black
	z-index:0;
	opacity 0
	cursor pointer
	display none
