html{
	font-size:62.5%; 
}

body{
	margin: 0;
	padding: 0;
	line-height: 1;	
}

table{
	border-collapse: collapse;
	border-spacing: 0 ;
}

ol,ul{
	list-style: none;
}

body *, body *:after, body *:before{
	padding: 0px;
	margin: 0px;
	border:none;
	outline: none;
	vertical-align: baseline;
}

html {
  	
}

*, *:before, *:after {

  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

:focus{
	outline: none;
	border: none;
}

img{
	display: block;
}

a,a:hover,a:visited{
	text-decoration: none;
}

button, .btn{
	border: none;
	background: white;
	display: inline-block;
	cursor: pointer;
}