@media screen and (min-width: 768px)
	// -------- Navigation bar -------------
	#header
		width auto
		height 100%
		margin-left 45px
		background-color: transparent
		position: fixed
		&.headerOpen
			width 295px
			height 100%
		#navigationContainer
			width auto
			height 100%
			z-index 0
			#navigation
				width 295px
				height 100%
				margin-left -640px
				margin-top 0px
				background-color black
				&.selected
					margin-left 0px !important
					margin-top 0px !important
				#listItems
					top: 100px
					padding-left 35px
					opacity 0
					ul
						li
							line-height 1.2
							font-size 30px
							a
								color white
		#logoContainer
			width 295px
			height 68px
			left 0px
			z-index 0
			overflow hidden
			#logoSubContainer
				padding 0px
				height 63px
				width 219px
				background-color yellow
				&.move
					margin-left:35px
			#logo
				margin 20px 20px 20px 20px
	//-----------ClorNavGlobal------------
	section
		position relative
		.colorBarNav
			display block
			position absolute
			width 45px
			height 100%
			left -45px
			z-index 3000
			background-color green
			cursor pointer
	// ---------------- Nav Toggle ----------------
	#nav-toggle
		top 50%
		top calc(50% - 15px)
		left 7px
		width 35px
	#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after
		background: white
		width 27px
	.nav-toggle-white, .nav-toggle-white::after, .nav-toggle-white::before
		background white !important
	.nav-toggle-red, .nav-toggle-red::after, .nav-toggle-red::before
		background red !important
	.nav-toggle-blue, .nav-toggle-blue::after, .nav-toggle-blue::before
		background blue !important
	//-------------------Global Sections-------------------
	#headerOverlay
		z-index 1
