extends ./layout.jade

block meta
	title Homepage
	meta(name='description' content='')

block content
	#headerOverlay
	div(id="nav-toggle" disabled="disabled") <span></span>
	section.top#first
		a(href="#first" class="colorBarNav" style="background-color: transaparent")
		.left
			img(src="img/indeximg3.jpg")
		.right
			h1 Intro
		.clearfix
	section.second#second
		a(href="#second" class="colorBarNav" style="background-color: transaparent")
	section.third#third
		a(href="#third" class="colorBarNav" style="background-color: transaparent")
