doctype html

html
	head
		block meta
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		// build:css styles/main.css
		link(rel="stylesheet" href="styles/main.css")
		// endbuild


		//- script(type="text/javascript" src="http://ds.serving-sys.com/BurstingScript/EBLoader.js")

		<!--[if IE 9]>
		<script type="text/javascript">
		| window.isIE9 = true;
		</script>
		<![endif]-->




	body
		include includes/header.jade
		block content
		include includes/footer.jade

		script(type="text/javascript" src="js/jquery.min.js")
		script(type="text/javascript" src="js/velocity.min.js")

		//build:js js/shared.min.js
		script(type="text/javascript" src="js/shared.js")
		//endbuild
